@import-normalize; /* bring in normalize.css styles */

:root {
  --black: #121417;
  --semiblack: rgba(18, 20, 23, 0.5);
  --white-button: #fff;
  --blue-button: #3470ff;
  --accent: #0b44cd;
  --grey: #8a8a89;
  --background-grey: #f7f7fb;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
